<<<<<<< HEAD
extends layout

block content
	header#jonmircha.container-full.center.allvh.jonmircha
		div.item.p0
			h1.main-title #{alias}
			h2.slogan #{slogan}
			ul.br.f-vw.social-media
				each sm in socialMedia
					li.nobullet.inline.p_75.sm-p1_25
						a( href="#{sm.url}", title="#{sm.name}", target="_blank" ): i( class="fa #{sm.class}" )
			p.br.f-vw.language
				a.es( href="/" ) 
					b es
				|&nbsp;&nbsp;&#124;&nbsp;&nbsp;
				a.en( href="/en" )
					b en
			p.br.f-vw.print-cv
				a#print( href="#" )
					i.fa.fa-print
			p.br.f-vw.arrow-down
				a#arrow-down( href="#hello")
					i.fa.fa-chevron-down
	nav#menu.menu
		ul.container.flex.flex-wrap.jc-space-around.center
			each link in menu
				li.nobullet.flex-none.f_75.sm-f1.p_75.sm-p1
					a(id="#{link[0]}-btn" href="##{link[0]}" ).
						<span class="none  md-inline">#{link[1]}</span>
						<i class="fa  #{link[2]}  md-none"></i>
	section#hello.container.hello
		div.allvh.bg-img
			h2.subtitle #{helloTitle}
			article.item.center
				figure.container
					img.item.mauto.ph12.lg-i-b.lg-v-middle.lg3.round( src="#{imageAvatar}", title="#{alias}", alt="#{alias}" )
					figcaption.item.ph12.lg-i-b.lg-v-middle.lg9.lg-left.f1_5 #{description}
			hr
			article.item !{helloDescription}
	section#resume.container.resume
		div.allvh.bg-img.container.flex.flex-wrap
			h2.flex-auto.ph12.subtitle #{resumeTitle}
			article.item.flex-auto.ph12.md6
				h3 #{resumeIAmTitle}
				ul.p1
					each iAm in resumeIAm
						li !{iAm}
			article.item.flex-auto.ph12.md6
				h3 #{resumeServicesTitle}
				ul.p1
					each service in resumeServices
						li #{service}
			article.item.flex-auto.ph12.md6
				h3 #{resumeSkillsTitle}
				ul.p1
					each skill in resumeSkills
						li #{skill}
			article.item.flex-auto.ph12.md6
				h3 #{resumeExperienceTitle}
				h4 #{resumeExperienceTitleCurrent}
				ul.p1
					each experienceCurrent in resumeExperienceCurrent
						li !{experienceCurrent}
				h4 #{resumeExperienceTitleAbove}
				ul.p1
					each experienceAbove in resumeExperienceAbove
						li !{experienceAbove}
	section#projects.container.projects
		div.allvh.bg-img.container.flex.flex-wrap
			h2.flex-auto.ph12.subtitle #{projectsTitle}
			p.item.flex-auto.ph12 #{projectDescription}
			article.item.flex-auto.ph12.md6.lg4
				h3 #{sitesTitle}
				ul.p1
					each site in sites
						li.p_25
							a( href="#{site[1]}", target="_blank" ) #{site[0]}
			article.item.flex-auto.ph12.md6.lg4
				h3 #{coursesTitle}
				ul.p1
					each course in courses
						li.p_25
							a( href="#{course[1]}", target="_blank" ) #{course[0]}
			article.item.flex-auto.ph12.md6.lg4
				h3 #{slidesTitle}
				ul.p1
					each slide in slides
						li.p_25
							a( href="#{slide[1]}", target="_blank" ) #{slide[0]}
			article.item.flex-auto.ph12.md6.lg4
				h3 #{lecturesTitle}
				ul.p1
					each lecture in lectures
						li.p_25
							a( href="#{lecture[1]}", target="_blank" ) #{lecture[0]}
			article.item.flex-auto.ph12.md6.lg4
				h3 #{articlesTitle}
				ul.p1
					each article in articles
						li.p_25
							a( href="#{article[1]}", target="_blank" ) #{article[0]}
	section#customers.container.allvh.customers
		h2.ph12.subtitle #{customersTitle}
		ul.container.flex.flex-wrap
			each customer in customers
				li.nobullet.item.flex-none.ph6.sm4.md3.lg2
					a( href="#{customer[1]}", target="_blank" )
						img( src="#{customer[2]}", title="#{customer[0]}", alt="#{customer[0]}" )
	section#marathons.container.marathons
		div.allvh.bg-img
			h2.ph12.subtitle #{marathonsTitle}
			ol.container.flex.flex-wrap.jc-space-around
				each marathon in marathons
					li.nobullet.item.flex-none.ph12.sm6.md4.lg3
						span.
							<a href="#{marathon[1]}" target="_blank">#{marathon[0]}</a>
						span.
							<i class="fa  fa-calendar-o"></i>
							#{marathon[2]}
						span.
							<i class="fa  fa-clock-o"></i>
							#{marathon[3]}
						if( marathon[4] )
							span.
								<i class="fa  fa-bolt"></i> PR
=======
include index.html
>>>>>>> 9d202d7b472544d347cb55da7ae14a3f2500e2c0
