extends layout

block content
	header#jonmircha.container-full.center.jonmircha
		div.item
			h1.main-title.animated.wow.fadeInUpBig #{alias}
			h2.slogan.animated.wow.fadeInRightBig(data-wow-delay="1s") #{slogan}
			ul.br.f-vw.social-media.animated.wow.fadeInLeftBig(data-wow-delay="1.5s")
				each sm in socialMedia
					li.nobullet.inline.p_75.sm-p1_25
						a( href="#{sm.url}", title="#{sm.name}", target="_blank" ): i( class="fa #{sm.class}" )
			p.br.f-vw.language.animated.wow.fadeIn(data-wow-delay="2s")
				a.es( href="./" ) 
					b es
				|&nbsp;&nbsp;&#124;&nbsp;&nbsp;
				a.en( href="./en" )
					b en
			p.br.f-vw.print-cv.animated.wow.fadeIn(data-wow-delay="2s")
				a#print( href="#" )
					i.fa.fa-print
			p.br.f-vw.animated.wow.fadeIn(data-wow-delay="2s")
				a#arrow-down.arrow-down(href="#hello", data-scroll)
					i.fa.fa-chevron-down.fa-5x.animated.wow.bounce(data-wow-delay="2s", data-wow-iteration="infinite", data-wow-duration="2000ms")
		nav#menu.menu
				ul.container.flex.flex-wrap.jc-space-around.center
					each link in menu
						li.nobullet.flex-none.f_75.sm-f1.p_75.sm-p1
							a(id="#{link[0]}-btn", href="##{link[0]}", title="#{link[1]}", data-scroll).
								<span class="none  md-inline">#{link[1]}</span>
								<i class="fa  #{link[2]}  md-none"></i>
	main#main
		section#hello.container.slides.hello
			h2.subtitle.sticky
				span.block.animated.wow.pulse(data-wow-iteration="infinite", data-wow-duration="3000ms") #{helloTitle}
			article.item.p0.center.animated.wow.zoomInDown
				figure.container
					img.item.mauto.ph12.lg-i-b.lg-v-middle.lg3.round( src="#{imageAvatar}", title="#{alias}", alt="#{alias}" )
					figcaption.item.ph12.lg-i-b.lg-v-middle.lg9.lg-left.f1_5 #{description}
			hr.animated.wow.fadeIn(data-wow-delay=".25s")
			article.item.p0.description.animated.wow.zoomInUp(data-wow-delay=".5s") !{helloDescription}
		section#resume.container.flex.flex-wrap.center.lg-left.slides.resume
			h2.flex-auto.ph12.subtitle.sticky
				span.block.animated.wow.pulse(data-wow-iteration="infinite", data-wow-duration="3000ms") #{resumeTitle}
			article.item.flex-auto.ph10.md5.lg3.lg-center.bg-color.animated.wow.fadeInDownBig(data-wow-delay=".25s")
				h3 #{resumeIAmTitle}
				ul.p1.resume-data
					each iAm in resumeIAm
						li.p_5.resume-i-am !{iAm}
			article.item.flex-auto.ph10.md5.lg3.bg-color.animated.wow.fadeInLeftBig(data-wow-delay=".5s")
				h3 #{resumeServicesTitle}
				ul.p1.resume-data
					each service in resumeServices
						li.p_5 #{service}
			article.item.flex-auto.ph10.md5.lg3.bg-color.animated.wow.fadeInRightBig(data-wow-delay=".5s")
				h3 #{resumeSkillsTitle}
				ul.p1.resume-data
					each skill in resumeSkills
						li.p_5 #{skill}
			article.item.flex-auto.ph10.md5.lg12.bg-color.animated.wow.fadeInUpBig(data-wow-delay=".75s")
				h3.lg-center #{resumeExperienceTitle}
				div.lg-flex.lg-flex-wrap
					div.lg-flex-auto.lg6
						h4.lg-center #{resumeExperienceTitleCurrent}
						ul.p1.resume-data
							each experienceCurrent in resumeExperienceCurrent
								li.p_5 !{experienceCurrent}
					div.lg-flex-auto.lg6
						h4.lg-center #{resumeExperienceTitleAbove}
						ul.p1.resume-data
							each experienceAbove in resumeExperienceAbove
								li.p_5 !{experienceAbove}
		section#projects.container.flex.flex-wrap.slides.works
			h2.flex-auto.ph12.subtitle.sticky
				span.block.animated.wow.pulse(data-wow-iteration="infinite", data-wow-duration="3000ms") #{worksTitle}
			h3.mauto.animated.wow.zoomInDown #{projectsTitle}
			article.item.flex-auto.ph12.projects.animated.wow.zoomInDown
				div.flex.flex-wrap
					each project in projects
						figure.flex-auto.ph12.md5.lg3.p1.center.bg-color
							a.block( href="#{project[1]}", target="_blank" )
								i.block.mauto( class="sprite-projects #{project[2]}", title="#{project[0]}", alt="#{project[0]}" )
								figcaption
									h4 #{project[0]}
									small #{project[4]}
									p #{project[3]}
			h3.mauto.animated.wow.zoomInUp(data-wow-delay=".5s") #{sitesTitle}
			article.item.flex-auto.ph12.links-works.sites.animated.wow.zoomInUp(data-wow-delay=".5s")
				ul.flex.flex-wrap.jc-center.ai-stretch.ac-center
					each site in sites
						li.nobullet.flex-auto.ph12.sm5.md3.m_5.center.bg-color
							a.p1( href="#{site[1]}", target="_blank" ) #{site[0]}
			article.item.flex-auto.ph12.md6.links-works.lectures.animated.wow.zoomInLeft(data-wow-delay=".75s")
				h3.center #{lecturesTitle}
				ul.flex.flex-wrap.jc-center.ai-stretch.ac-center
					each lecture in lectures
						li.nobullet.flex-auto.ph12.sm5.md4.lg3.m_5.center.bg-color
							a.p1( href="#{lecture[1]}", target="_blank" ) #{lecture[0]}
			article.item.flex-auto.ph12.md6.links-works.articles.animated.wow.zoomInRight(data-wow-delay=".75s")
				h3.center #{articlesTitle}
				ul.flex.flex-wrap.jc-center.ai-stretch.ac-center
					each article in articles
						li.nobullet.flex-auto.ph12.sm5.md4.lg3.m_5.center.bg-color
							a.p1( href="#{article[1]}", target="_blank" ) #{article[0]}
		section#customers.container.slides.customers
			h2.ph12.subtitle.sticky
				span.block.animated.wow.pulse(data-wow-iteration="infinite", data-wow-duration="3000ms") #{customersTitle}
			ul.container.flex.flex-wrap
				each customer in customers
					li.nobullet.item.flex-none.ph6.sm4.md3.lg2.animated.wow.flipInX
						a( href="#{customer[1]}", target="_blank" )
							i.block.mauto( class="sprite-customers #{customer[2]}", title="#{customer[0]}", alt="#{customer[0]}" )
		section#marathons.container.slides.marathons
			h2.ph12.subtitle.sticky
				span.block.animated.wow.pulse(data-wow-iteration="infinite", data-wow-duration="3000ms") #{marathonsTitle}
			ol.container.flex.flex-wrap.jc-space-around.ai-stretch.ac-center
				each marathon in marathons
					li.nobullet.item.flex-none.ph12.sm6.md4.lg3.animated.wow.flipInX
						if marathon[2]
							div.p1.bg-color-orange
								span.block.f1_25.center.
									#{marathon[0]}
								span.block.f1_25.center.
									<i class="fa  fa-clock-o"></i>
									#{marathon[1]}
						else
							div.p1.bg-color
								span.block.f1_25.center.
									#{marathon[0]}
								span.block.f1_25.center.
									<i class="fa  fa-clock-o"></i>
									#{marathon[1]}